# Ignore everything
/*
/**/.luarc.json
/**/*.o
/**/\#*#
/**/*#
/**/.#*
/**/.*~
/**/*~
/**/fishd.*
/**/.DS_Store
/**/*.sw[po]
/**/tags
/**/TAGS
/**/.svn
/**/*.dSYM
/**/*.log
/**/*.dvi
/**/*.aux
/**/*.elc

# But not these files...
!.gitignore
!.gitattributes
!.gitconfig
!.globalgitignore
!README.md
!.czrc
!.config/
.config/*
!.scripts/
.scripts/*

# Nvim
!.config/nvim/

# Fish local config
!.config/fish/config-linux.fish
!.config/fish/config-osx.fish
!.config/fish/config-windows.fish
!.config/fish/config.fish
!.config/fish/fish_plugins
!.config/fish/functions/fzf_change_directory.fish
!.config/fish/functions/fish_user_key_bindings.fish

# Powershell
!.config/powershell/
.config/powershell/*.bak

# Starship
!.config/starship.toml

# Tmux
!.config/tmux/
.config/tmux/local.conf

# Own Scripts
!.scripts/ide

# mise
!.config/mise/

# lazygit
!.config/lazygit/
