# Ignore everything
/*
/**/.luarc.json
/**/*.o
/**/\#*#
/**/*#
/**/.#*
/**/.*~
/**/*~
/**/fishd.*
/**/.DS_Store
/**/*.sw[po]
/**/tags
/**/TAGS
/**/.svn
/**/*.dSYM
/**/*.log
/**/*.dvi
/**/*.aux
/**/*.elc

# But not these files...
!README.md
!.czrc
!.npmrc
!.config/
.config/*
!.scripts/
.scripts/*

# Git
!.gitignore
!.gitattributes
!.gitconfig
!.globalgitignore
!.config/git/

# Nvim
!.config/nvim/

# Fish local config
!.config/fish/
.config/fish/functions/
.config/fish/completions/
.config/fish/conf.d/
.config/fish/fish_variables
.config/fish/config-local.fish

# Powershell
!.config/powershell/
.config/powershell/*.bak

# Starship
!.config/starship.toml

# Tmux
!.config/tmux/
.config/tmux/local.conf

# Own Scripts
!.scripts/ide

# mise
!.config/mise/

# lazygit
!.config/lazygit/
