(
    selected_tab: Some("#c4b28a"),
    command_fg: Some("#737c73"),
    selection_bg: Some("#282727"),
    selection_fg: Some("#c4b28a"),
    cmdbar_bg: Some("Reset"),
    cmdbar_extra_lines_bg: Some("#181616"),
    disabled_fg: Some("#625e5a"),
    diff_line_add: Some("#87a987"),
    diff_line_delete: Some("#c4746e"),
    diff_file_added: Some("#87a987"),
    diff_file_removed: Some("#c4746e"),
    diff_file_moved: Some("#8992a7"),
    diff_file_modified: Some("#c4b28a"),
    commit_hash: Some("#737c73"),
    commit_time: Some("#8ea4a2"),
    commit_author: Some("#8ba4b0"),
    danger_fg: Some("#c4746e"),
    push_gauge_bg: Some("#c4b28a"),
    push_gauge_fg: Some("#0d0c0c"),
    tag_fg: Some("#8ea4a2"),
    branch_fg: Some("#c4b28a"),
)
